/* @group Payment line item form element */

.payment-line-item-container .form-item {
  float: left;
  margin-right: 1em;
}
.payment-line-item-container {
  padding: 0 1em;
}
.payment-line-item-container.odd {
  background-color: #f8f8f8;

}
.payment-line-item-container .clear {
  clear: both;
}
.payment-add-more {
  margin-top: 1em;
}

/* @end */